<div style='padding-top:50px'>
<div style="text-align:center">
<h1>Login</h1>

<%= form_for @user, url: login_path, method: :post do |f| %>
  <div class="form-group float-center">
    <%= f.label :user_name, "Username", class: "col-md-4 control-label" %><br>
  <div class="col-md-3" style='display:inline-block;'>
    <%= f.text_field :user_name %>
  </div>
  </div>
  <div class="form-group">
    <%= f.label :password, "Password", class: "col-md-4 control-label" %><br>
  <div class="col-md-3" style='display:inline-block;'>
    <%= f.password_field :password %>
  </div>
  </div>
  <%= f.submit "Login", class: "btn btn-default btn-primary" %>
<% end %>



</div>
