<div style="text-align:center">

<h1>Login</h1>

<%= form_for @user, url: login_path, method: :post do |f| %>
  <%= f.label :user_name %>
  <%= f.text_field :user_name %>
<br />
  <%= f.label :password %>
  <%= f.password_field :password %>
<br />
  <%= f.submit "log in" %>
  Or <%= link_to(controller: 'users', action: 'new') { 'sign up' } %>
<% end %>
</div>
