<%= link_to('Home', home_path) %><br>

<label>Name: </label>
<%=@language.name%><br>

<label>Date Created: </label>
<%=@language.date_created%><br>

<label>Latest Version: </label>
<%=@language.latest_version%><br>

<label>Creator: </label>
<%=@language.creator%><br>

<label>Short Description: </label>
<%=@language.short_description%><br>



<h2>Text Editors and IDE's</h2>

<%@language.editors.each do |editor|%>
  <%=link_to editor.name, editor_path(editor)%><br>
<%end%>
