<div style='padding-top:50px'>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div style='text-align:center; border-radius: 50%;'>
        <img class='img-circle' src='https://media.giphy.com/media/T9PjEB2NXsoJa/giphy.gif' />
        <h4><%=@language.name%></h4>
      </div>


      <div style='margin-top:100px; margin-left:100px;'>

      <h4>Year Created: <%=@language.date_created%></h4>
      <h4>Latest Version: <%=@language.latest_version%></h4>
      <h4>Creator: <%=@language.creator%></h4>
      <h4>Description: <%=@language.short_description%></h4>
      </div>
    </div>
  </div>

<h3 style='margin:100px; text-align:center'>
RECOMMENDED IDE's
</h3>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div style='text-align:center'>
      <%@language.editors.each do |editor|%>
        <%=link_to editor.name, editor_path(editor)%>
      <%end%>
    </div>
  </div>

</div>
