<%= link_to('Home', home_path) %>

<label>Name: </label>
<%=@language.name%><br>

<label>Date Created: </label>
<%=@language.date_created%><br>

<label>Latest Version: </label>
<%=@language.latest_version%><br>

<label>Creator: </label>
<%=@language.creator%><br>

<label>Short Description: </label>
<%=@language.short_description%><br>
