<div style="text-align:center">

<h1>Create a User</h1>

<%=form_for(@user) do |f|%>
  <%=f.label :name%>
  <%=f.text_field :name%><br><br>

  <%=f.label :user_name%>
  <%=f.text_field :user_name%><br><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br><br>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br><br>

  <%=f.submit%>
</div>
<%end%>
