<div style='text-align:left; margin-top:150px'>

<div class='container'>
<%=form_for @user do |f|%>

  <h1 style=><%=f.label :response_one, "What is most important to you when looking to work for a company?"%></h1>
  <%=f.select :response_one, ['Culture', 'Work-Life Balance', 'Compensation'],{}, class: "btn btn-secondary dropdown-toggle btn-lg" %>

  <h1 style='margin-top:50px'><%=f.label :response_two, "Who is your favorite superhero?"%></h1>
  <%=f.select :response_two, ['Spiderman', 'Superman', 'Batman'],{}, class: "btn btn-secondary dropdown-toggle btn-lg" %><br><br>

  <h1 style='margin-top:50px'><%=f.label :response_three, "If you were a box of cereal, what cereal would you be?"%></h1>
  <%=f.select :response_three, ['Froot Loops', 'Frosted Flakes', 'Lucky Charms'],{}, class: "btn btn-secondary dropdown-toggle btn-lg" %><br><br>

  <%=f.submit class: "btn btn-success"%>
<%end%>

</div>

</div>
