<div style='padding-top:100px'>

  <div class='container'>
    <div class='row' style='margin-bottom:40px'>
      <div class='col-6' style='text-align:center; font-family:questrial;'>
        <img style='border-radius:50%; border-style:solid' height="150" width="150" src='https://media.giphy.com/media/xT0GqxOURpu9mmaF7q/giphy.gif' />
        <h4 style='padding:10px 0 0 0 ; font-family:Yantramanav; font-weight:900'><%=@user.user_name%></h4>
      </div>

      <div class='col'>
        <h4 style ='font-size:30px; font-family:Yantramanav; font-weight:900; padding:0px 0px 0px 10px'>Name:</h4>
        <h6 style ='font-size:15px; font-style:bold; padding-left:30px;';><%=@user.name%></h6>

        <h4 style ='font-size:30px; font-family:Yantramanav; font-weight:900; padding:0px 0px 0px 10px'>Company Preference</h4>
        <h6 style ='font-size:15px; font-style:bold; padding-left:30px;';><%=@user.company%></h6>

        <h4 style ='font-size:30px; font-family:Yantramanav; font-weight:900; padding:0px 0px 0px 10px'>Developer Type</h4>
        <h6 style ='font-size:15px; font-style:bold; padding-left:30px;';><%=@user.dev_type%></h6>
        </div>
      </div>
    </div>
  </div>

  <div class='container' >
    <div class='row'>
      <div class='col-6' style='text-align:center; font-family:questrial;'>

        <h3 style='font-family:yantramanav; font-weight:900;'>
          RECOMMENDED LANGUAGES
        </h3>
            <h1>
              <%language = @languages.sample%>
              <%= image_tag("#{language.name.downcase}.png") %>
              <%= link_to(language.name, language_path(language.id))%>
            </h1>



        <h3 style='font-family:yantramanav; font-weight:900;'>
          RECOMMENDED COMPANIES
        </h3>
        <h1>
            <% company = @companies.sample %>
              <div style='font-family:questrial'>
            <%= image_tag("#{company.downcase}.png", size: "46x46")%>
              <%= company %>
            </div>
        </h1>
      </div>
      <div class='col-6'>
        <a class="btn btn-success btn-lg btn-block animated rubberBand" style='-webkit-animation-delay: 4s;-webkit-animation-duration: 3s; margin-bottom:12px;' href='/workstyle'>WORKSTYLE</a>
        <a class="btn btn-danger btn-lg btn-block animated rubberBand" style='-webkit-animation-delay: 14s;-webkit-animation-duration: 3s;margin-bottom:12px;' href='/playstyle'>PLAYSTYLE</a>
        <a class="btn btn-info btn-lg btn-block animated rubberBand" style='-webkit-animation-delay: 24s;-webkit-animation-duration: 3s;' href='/personality'>PERSONALITY</a>
      </div>
    </div>
  </div>
</div>
