<div style='padding-top:50px'>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div style='text-align:center; border-radius: 50%;'>
        <img class='img-circle' src='https://media.giphy.com/media/eCqFYAVjjDksg/giphy.gif' />
        <h4>Username: <%=@user.user_name%></h4>
      </div>


      <div style='margin-top:100px; margin-left:100px;'>

      <h4>Name: <%=@user.name%></h4>
      <h4>Company: <%=@user.company%></h4>
      <h4>Dev Type: <%=@user.dev_type%></h4>
      </div>
    </div>
  </div>



<h3 style='margin:100px; text-align:center'>
Hey Friend, click below to fill out some information about yourself!!!
</h3>



<a class="btn btn-success btn-lg btn-block"  href='/workstyle'>WORKSTYLE</a>
<a class="btn btn-danger btn-lg btn-block" href='/playstyle'>PLAYSTYLE</a>



<h3 style='margin:100px; text-align:center'>
RECOMMENDED LANGUAGES
</h3>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div style='text-align:center'>
    <%@languages.each do |language|%>
      <%if language.dev_type == @user.dev_type%>
      <h1>  <%=link_to(language.name, language_path(language.id))%> </h1>
      <%end%>
    <%end%>
    </div>
  </div>



</div>
