<%= link_to "Home", home_path %>

<%= link_to "Log Out", logout_path, method: :delete %>


<h4>Name: <%=@user.name%></h4>
<h4>Username: <%=@user.user_name%></h4>
<h4>Company: <%=@user.company%></h4>
<h4>Dev Type: <%=@user.dev_type%></h4>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices diam at tortor posuere, non condimentum ex pretium. Nunc
</p>

<%= link_to "Job", workstyle_path %>
<%= link_to "Personality", playstyle_path %>

<h1> RECOMMENDED LANGUAGES</h1>

<%@languages.each do |language|%>
  <%if language.dev_type == @user.dev_type%>
    <%=link_to(language.name, language_path(language.id))%>
  <%end%>
<%end%>
