<div style='padding-top:50px'>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div style='text-align:center; border-radius: 50%;'>
        <img class='img-circle' src='https://media.giphy.com/media/3BFow8LKwnGBq/giphy.gif' />
        <h4><%=@editor.name%></h4>
      </div>


      <div style='margin-top:100px; margin-left:100px;'>

      <h4>Name: <%=@editor.date_created%></h4>
      <h4>Company: <%=@editor.latest_version%></h4>
      <h4>Dev Type: <%=@editor.creator%></h4>
      <h4>Dev Type: <%=@editor.short_description%></h4>
      </div>
    </div>
  </div>

</div>
