<%= link_to('Home', home_path) %>

<label>Name: </label>
<%=@editor.name%><br>

<label>Date Created: </label>
<%=@editor.date_created%><br>

<label>Latest Version: </label>
<%=@editor.latest_version%><br>

<label>Creator: </label>
<%=@editor.creator%><br>

<label>Short Description: </label>
<%=@editor.short_description%><br>
