<div style='padding-top:50px'>

      <div style='text-align:center; font-family:questrial;'>
        <% if File.file?("app/assets/images/#{@editor.name.downcase}100.png")%>
        <%= (image_tag("#{@editor.name.downcase}100.png")) %>
        <% else %>
        <%= (image_tag("default100.png")) %>
        <% end %>
        <h4 style ='font-size:100px;'><%=@editor.name%></h4>


      <div style='margin-top:100px; text-align:left;'>

      <h4 style ='font-size:30px; font-family:Yantramanav; font-weight:900; padding:0px 0px 0px 10px'>Year Created:</h4>   <h6 style ='font-size:15px; font-style:bold; padding-left:30px;';><%=@editor.date_created%></h6>
      <h4 style ='font-size:30px; font-family:Yantramanav; font-weight:900; padding:0px 0px 0px 10px'>Latest Version:</h4> <h6 style ='font-size:15px; font-style:bold; padding-left:30px;'><%=@editor.latest_version%></h6>
      <h4 style ='font-size:30px; font-family:Yantramanav; font-weight:900; padding:0px 0px 0px 10px'>Creator:</h4>        <h6 style ='font-size:15px; font-style:bold; padding-left:30px;'><%=@editor.creator%></h6>
      <h4 style ='font-size:30px; font-family:Yantramanav; font-weight:900; padding:0px 0px 0px 10px'>Description:</h4>    <h6 style ='font-size:15px; font-style:bold; padding-left:30px;'><%=@editor.short_description%></h6>
      </div>
    </div>
  </div>
</div>
